
@font-face{
     font-family: 'Minecraft'; 
     src: url('font.otf');
}

h1 {
	text-align: center;
}

img {
	width: 50%;
	image-rendering: pixelated;
}

p {
	font-family: "Minecraft";
	margin-left: 20%;
	margin-right: 20%;
}
p.blue {
	color: #007878;
	text-shadow: 1.6px 1.6px #002929;
}

p.green {
	color: #007800;
	text-shadow: 1.6px 1.6px #002900;
}