
@font-face{
     font-family: 'Minecraft'; 
     src: url('minecraft.ttf');
}

h1 {
	text-align: center;
}

img {
	width: 50%;
	image-rendering: pixelated;
}

p {
	font-size: 1em;
	font-family: "Minecraft";
	margin-left: 20%;
	margin-right: 20%;
}

.blue {
	color: #00AAAA;
	text-shadow: 0.1em 0.1em #002A2A;
}

.green {
	color: #00AA00;
	text-shadow: 0.1em 0.1em #002A00;
}

.white {
	color: #FFFFFF;
	text-shadow: 0.1em 0.1em #3F3F3F;
}

.gray {
	color: #AAAAAA;
	text-shadow: 0.1em 0.1em #2A2A2A;
}